<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestClient.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TestClient.Settings1>
            <setting name="ClientWindowPlacement" serializeAs="String">
                <value />
            </setting>
            <setting name="SymbolHistorical" serializeAs="String">
                <value>ESZ6</value>
            </setting>
            <setting name="SymbolDef" serializeAs="String">
                <value>ESZ6</value>
            </setting>
            <setting name="SymbolLevel1_1" serializeAs="String">
                <value>ESZ6</value>
            </setting>
            <setting name="SymbolLevel1_2" serializeAs="String">
                <value>NQZ6</value>
            </setting>
            <setting name="HistStart" serializeAs="String">
                <value>2016-10-21</value>
            </setting>
            <setting name="Zip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="PortListening" serializeAs="String">
                <value>11099</value>
            </setting>
            <setting name="PortHistorical" serializeAs="String">
                <value>11098</value>
            </setting>
        </TestClient.Settings1>
    </userSettings>
</configuration>