<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TestClient.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TestClient.Settings1>
            <setting name="ClientWindowPlacement" serializeAs="String">
                <value />
            </setting>
            <setting name="SymbolHistorical" serializeAs="String">
                <value>MNQM21-CME</value>
            </setting>
            <setting name="SymbolDef" serializeAs="String">
                <value>MNQM21-CME</value>
            </setting>
            <setting name="SymbolLevel1_1" serializeAs="String">
                <value>MNQM21-CME</value>
            </setting>
            <setting name="SymbolLevel1_2" serializeAs="String">
                <value>NQM21-CME</value>
            </setting>
            <setting name="HistStart" serializeAs="String">
                <value>2021-05-21</value>
            </setting>
            <setting name="Zip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="PortListening" serializeAs="String">
                <value>11099</value>
            </setting>
            <setting name="PortHistorical" serializeAs="String">
                <value>11098</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>testUserName</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>xxx</value>
            </setting>
            <setting name="ExchangeSymbols" serializeAs="String">
                <value>CME</value>
            </setting>
            <setting name="ExchangeHistorical" serializeAs="String">
                <value>CME</value>
            </setting>
            <setting name="Account" serializeAs="String">
                <value>Sim1</value>
            </setting>
            <setting name="SymbolTrade" serializeAs="String">
                <value>EURUSD</value>
            </setting>
            <setting name="ExchangeTrade" serializeAs="String">
                <value />
            </setting>
            <setting name="OrderType" serializeAs="String">
                <value>OrderTypeMarket</value>
            </setting>
            <setting name="Qty" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Price1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Price2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowHeartbeats" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OrderTypeOCO" serializeAs="String">
                <value>OrderTypeMarket</value>
            </setting>
            <setting name="QtyOCO" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Price1OCO" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Price2OCO" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScidPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ScidLogLastRecord" serializeAs="String">
                <value>False</value>
            </setting>
        </TestClient.Settings1>
    </userSettings>
    <runtime>
    </runtime>
</configuration>