<?xml version="1.0" encoding="utf-8"?>

<configuration>

	<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		  autoReload="true"
		  throwExceptions="false"
		  internalLogLevel="Warn" internalLogFile="c:\logs\nlog-internal.log">

		<!--https://blog.machinezoo.com/how-to-configure-nlog-time-source-->
		<time type='AccurateUtc'/>

		<targets async="false">
			 <default-wrapper xsi:type="AsyncWrapper" timeToSleepBetweenBatches="0" overflowAction="Block" /> 

			<target name="xmlfile" xsi:type="File"



		</targets>
		<rules>
			<logger name="*" writeTo="xmlfile" minlevel="Trace"/>
		</rules>
	</nlog>
</configuration>