<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false" internalLogLevel="Warn" internalLogFile="c:\logs\nlog-internal.log">

		<!--https://blog.machinezoo.com/how-to-configure-nlog-time-source-->
		<time type="AccurateUtc"/>


		<variable name="appName" value="DTCSharp"/>
		<variable name="logDirectory" value="${basedir}\..\..\logs"/>

		<targets async="false">
			<!--<default-wrapper xsi:type="AsyncWrapper" timeToSleepBetweenBatches="0" overflowAction="Block" />-->

			<target name="xmlfile" xsi:type="File" fileName="${logDirectory}\${appName}.xlog" archiveFileName="${logDirectory}\Archives\log_{#}_${date:format=yyyy-MM-d_HH}.${appName}.xlog" archiveEvery="Hour" archiveNumbering="Sequence" maxArchiveFiles="30000" concurrentWrites="true" keepFileOpen="true" layout="${log4jxmlevent:includeCallSite=true:includeNLogData=true:includeSourceInfo=true}"/>
		</targets>
		<rules>
			<logger name="*" writeTo="xmlfile" minlevel="Trace"/>
		</rules>
	</nlog>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
