<?xml version="1.0" encoding="utf-8"?>

<configuration>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		autoReload="true"
		throwExceptions="false"
		internalLogLevel="Warn" internalLogFile="c:\logs\nlog-internal.log">

		<!--https://blog.machinezoo.com/how-to-configure-nlog-time-source-->
		<time type='AccurateUtc' />
		<variable name="logDirectory" value="${basedir}\..\..\logs"/>

		<targets async="false">
			 <default-wrapper xsi:type="AsyncWrapper" timeToSleepBetweenBatches="0" overflowAction="Block" /> 

			<target name="xmlfile" xsi:type="File"
					fileName="${basedir}\logs\LogEmiter.Nlog.xlog"
					archiveFileName="${logDirectory}\Archives\log.{#}.xlog"
					archiveNumbering="Date"
					archiveEvery="Day"
					archiveDateFormat="yyyyMMdd"
					maxArchiveFiles="10"
					concurrentWrites="true"
					keepFileOpen="true"
					layout="${log4jxmlevent:includeCallSite=true:includeNLogData=true:includeSourceInfo=true}"/>
		</targets>
		<rules>
			<logger name="*" writeTo="xmlfile" minlevel="Trace"/>
		</rules>
	</nlog>
</configuration>